nav{
	display: inline-block;
	 margin-left: 400px;
    margin-top: 30px;

}
header{
	background: #FF8000;
	width: 100%;
	height: 80px;

}
a {
	color: white;
	text-decoration: none;
	font-weight: 2em;
	
	margin-right: 20px;
    padding: 30px;
    font-family: "Roboto", sans-serif;
}
a:hover {
    color: white;
    background: orange;  
    padding: 30px;
}
body{
	background-color: #FFFFFF;
	margin: 0;
    font-family: "Roboto", sans-serif;
}
section#content {
    color: white;
    position: absolute;
    top: 400px;
    left: 1000px;

}
video#video{
    width: 500px;
    height: 700px;
    left: 300px;
    position: absolute;
    top: 200px;
}
img#slide {
    width: 100%;
    height: auto;
    border-style: none;
}
section#about {
    width: 100%;
    height: 509px;
    background: #252525;
    position: absolute;
    top: 1800px;
    left: 0;
}

section#learntech{
    position: absolute;
    top: 00px;
}


footer {
    width: 100%;
    height: 150px;
    background: #FF8000;
    position: absolute;
    top: 3150px;

   
    left: 0;
}

p#footer {
    text-align: center;
     color: #0066CC;
    margin-top: 32px;
    font-size: 1em;
}

h1 {
    font-size: 1em;
}
h1#aboutus{
    font-size: 4em;
}

h3 {
    font-size: 2em;
}
h6 {
	font-size: 1em;
}

p {
    font-size: 2em;
}


div.course {
    width: 400px;
    height: 500px;
    background: #1F3A3D;
    border: 1px solid transparent;
    border-radius: 15px 15px 15px 15px;
    position: absolute;
    top: 1244px;
    left: 300px;
    -webkit-box-shadow: 0px 3px 43px 4px rgba(38, 153, 251, 0.53);
    -moz-box-shadow: 0px 3px 43px 4px rgba(38, 153, 251, 0.53);
    box-shadow: 0px 3px 43px 4px rgba(38, 153, 251, 0.53);
}

div.course2 {
    width: 400px;
    height: 500px;
    background: #1F3A3D;
    border: 1px solid transparent;
    border-radius: 15px;
    position: absolute;
    top: 1244px;
    left: 750px;
    -webkit-box-shadow: 0px 3px 43px 4px rgba(38, 153, 251, 0.53);
    -moz-box-shadow: 0px 3px 43px 4px rgba(38, 153, 251, 0.53);
    box-shadow: 0px 3px 43px 4px rgba(38, 153, 251, 0.53);
}

div.course3 {
    width: 400px;
    height: 500px;
    background: #1F3A3D;
    border-radius: 15px;
    border: 1px solid transparent;
    position: absolute;
    top: 1244px;
    left: 1200px;
    -webkit-box-shadow: 0px 3px 43px 4px rgba(38, 153, 251, 0.53);
    -moz-box-shadow: 0px 3px 43px 4px rgba(38, 153, 251, 0.53);
    box-shadow: 0px 3px 43px 4px rgba(38, 153, 251, 0.53);
}

div.Estudiantes1{
    display: inline-block;
    position: absolute;
    width: 200px;
    height: 500px;
    top: 0px;
    left: 100px;

}
div.Estudiantes2{
    display: inline-block;
    position: absolute;
    width: 200px;
    height: 500px;
     top: 0px;
    left: 650px;

}
div.Estudiantes3{
    display: inline-block;
    position: absolute;
    width: 300px;
    height: 500px;
     top: 0px;
    left: 1200px;

}
img#profesor{
     width: 600px;
    height: 500px;

}
img#examen{
     width: 600px;
    height: 500px;

}
img#update{
     width: 600px;
    height: 500px;

}


button.boton {
    width: 50%;
    height: 50px;
    background: #172035;
    color: white;
    font-size: 2em;
    border:none;
}

button:hover {
    background: #09568d;
}
img.ofertas {
  
  height: 280px;
  width: 400px;
}

div.about {
	color: white;
	text-align: center;
}

div.students {
    width: 300px;
    height: 200px;
    background: black;
    text-align: center;
    border-radius: 15px;
    color: white;
    position: absolute;
    top: 212px;
    left: 250px;
}

div.reviews {
    width: 300px;
    height: 200px;
    background: black;
    text-align: center;
    color: white;
    position: absolute;
    border-radius: 15px;
    top: 212px;
    left: 600px;
} 

div.courses {
    width: 300px;
    height: 200px;
    background: black;
    text-align: center;
    border-radius: 15px;
    color: white;
    position: absolute;
    top: 212px;
    left: 951px;
}

div.content {
    width: 300px;
    height: 200px;
    background: black;
    text-align: center;
    border-radius: 15px;
    color: white;
    position: absolute;
    top: 212px;
    left: 1301px;
}


div.learntechnow {
    
   
    background: white;
    width: 100%;

    position: absolute;
    top: 2400px;
    
}

div.learntechpodcast {
    width: 400px;
    height: 500px;
    background: white;
    border: 1px solid transparent;
    position: absolute;
    top: 2500px;
    
}

div.learntechblog {
    width: 400px;
    height: 500px;
    background: white;
    border: 1px solid transparent;
    position: absolute;
    top: 2500px;
    left: 1500px;
}

.h1lt {

    position: absolute;
    top: 2280px;
    left: 780px;
    font-size: 4em;

}
html{
    scroll-behavior: smooth;
}
img#planeta { 
    margin-left: 100px;
    margin-right: 100px;
    position: absolute;
    width: 180px;
    height: 180px;
    top: -80px;
    left: -20px;
}
div#logoplaneta{
    position: absolute;
    left: 100px;
    top: 30px;
    color: #343B29;
    font-family:  sans-serif;
    font-size: 1.5em;
}
p.parrafito{
    position: absolute;
    left: 180px;
    width: ;
}
h1#packs{
    font-size: 4em;
}
ul,li{
    margin: 0;
    padding: 0;
    list-style: none;
}
ul.slider{
    position: relative;
    width: 800px;
    height: 300px;
}

ul.slider li{
    position: absolute;
    width: inherit;
    height: inherit;
    
    opacity: 0;
    left: 0;
    top: 0px;
    transition: opacity .5s;
}
ul.slider li img{
    width: 300px;
    height: 600px;
    position: absolute;
    left: 800px;
    border-radius: 15px;
    
}
ul.slider li:first-child{
    opacity: 1;
}
ul.slider li:target{
    opacity: 1;
}

section#carrusel{
    margin: auto;
    width: 1900px;
    height: 800px;
    padding: 30px;
    position: absolute;
    background-color: #606060;
    top: 2300px;
    
}
div#info{
    

    width: 500px;
    height: 400px;
    left: 150px;
    background: black;
    text-align: center;
    border-radius: 15px;
    color: white;
    position: absolute;
    top: 212px;
    
}
h1#info2{
    font-size: 3em;
}
.menu{
    text-align: center;
    margin: 20px;
}
.menu li{
    display: inline-block;
    text-align: center;
}
.menu li a{
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: grey;
    padding: 10px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    border-radius: 100%;
}
div#menusito{
    position: absolute;
    top: 780px;
    left: 740px;
}
h1#protoss{
    font-size: 50px;
    text-align: center;
}
img.redes1{
    width: 50px;
    height: 50px;
    position: absolute;
    display: inline-block;
    left: 1000px;
    top: 50px;
}
img.redes2{
    width: 50px;
    top: 50px;
    height: 50px;
    position: absolute;
    display: inline-block;
    left: 900px;
}
a.redesita:hover{
    color: transparent;
    background: transparent;

}